body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 35px;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 700px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    width: 30%;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
}

button#calculate {
    width: 80%;
}

button.swal2-confirm{
    width: 100%;
}
button:hover {
    background: #0056b3;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.result-negative {
    color: red;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
}

#closeModal {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#dateInput {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
}

#input1,#input2 {
    width: 41%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

#input3 {
    width: 42%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
}

#operator {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
}

#btn-clear {
    background: #dc3545;
}

/* Responsive สำหรับหน้าจอ <=1024px */
@media (max-width: 1024px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    /* Modal ปรับขนาดเต็มหน้าจอ */
    .modal-content {
        width: 90%;
        margin: 5% auto;
        padding: 20px;
    }


    /* Input และ select ปรับเป็น block เต็มความกว้าง */
    #dateInput,
    #input1,
    #input2,
    #input3 {
        width: 85%;
        display: block;
        margin: 10px auto;
        font-size: 16px;
        
    }
    #operator {
        width: 89%;
        display: block;
        margin: 10px auto;
        font-size: 16px;
    }

    /* ปุ่มปรับขนาดเต็ม */
    button {
        width: 42%;
        margin: 10px 0;
        font-size: 15px;
    }

    bottom#calculate {
        width: 90%;
    }

    /* ตารางปรับเล็กลง */
    table, th, td {
        font-size: 13px;
    }
}







